.app-card{

    background:#ffffff;

    border-radius:18px;

    padding:28px;

    box-shadow:
        0 6px 18px rgba(0,0,0,.05);

    border:1px solid #edf0f7;

    width:100%;

    display:flex;

    flex-direction:column;

}